# Google App Engine generated folder
appengine-generated/
__pycache__/db.cpython-310.pyc
__pycache__/dbqueries.cpython-310.pyc
__pycache__/indexanalysis.cpython-310.pyc
__pycache__/layout.cpython-310.pyc
__pycache__/ndxdata.cpython-310.pyc
algos/__pycache__/bestperformer.cpython-310.pyc
analyzer/__pycache__/asset.cpython-310.pyc
analyzer/__pycache__/index.cpython-310.pyc
analyzer/__pycache__/stock.cpython-310.pyc
components/__pycache__/datepicker.cpython-310.pyc
components/__pycache__/heatmap.cpython-310.pyc
components/__pycache__/helper.cpython-310.pyc
components/__pycache__/indecreaseinput.cpython-310.pyc
components/__pycache__/indexcharts.cpython-310.pyc
components/__pycache__/symboltable.cpython-310.pyc
db/__pycache__/db.cpython-310.pyc
db/__pycache__/dbqueries.cpython-310.pyc
db/__pycache__/helper.cpython-310.pyc
layouts/__pycache__/layout.cpython-310.pyc
layouts/bestperfomer/__pycache__/bestperformer.cpython-310.pyc
layouts/bestperfomer/__pycache__/callbacks.cpython-310.pyc
layouts/indexanalyzer/__pycache__/callbacks.cpython-310.pyc
layouts/indexanalyzer/__pycache__/indexanalysis.cpython-310.pyc
