# Google App Engine generated folder
appengine-generated/
__pycache__/db.cpython-310.pyc
__pycache__/dbqueries.cpython-310.pyc
__pycache__/indexanalysis.cpython-310.pyc
__pycache__/layout.cpython-310.pyc
__pycache__/ndxdata.cpython-310.pyc
