{% extends 'base.html' %}

{% block head %}
<title>Market Analyzer</title>
{% endblock %}

{% block body %}

<div>
  <h1 style="font-family: arial;">Nasdaq 100 Relative Rendite</h1>
</div>


<div id='chart' class='chart'></div>
<p></p>
<div id='chart2' class='chart'></div>

<a href="https://lt-capital.de/datenschutzerklaerung/" style="color:black;font-family: arial;">Impressum</a>.
<a href="https://lt-capital.de/impressum/" style="color:black;font-family: arial;">Datenschutzerklärung</a>.
<a href="https://lt-capital.de/" style="color:black;font-family: arial;">LT Capital</a>.

{% endblock %}

{% block script %}
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ contents[0] | safe}};
  Plotly.plot('chart', graphs, {});
  graphs = {{ contents[1] | safe }};
  Plotly.plot('chart2', graphs, {});
</script>
{% endblock %}